@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 231 20% 25%;
    --card: 231 60% 100%;
    --card-foreground: 231 20% 25%;
    --popover: 231 60% 100%;
    --popover-foreground: 231 20% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 60% 98%;
    --secondary: 231 50% 90%;
    --secondary-foreground: 231 20% 25%;
    --muted: 231 50% 90%;
    --muted-foreground: 231 20% 45%;
    --accent: 231 48% 66%;
    --accent-foreground: 231 60% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 88%;
    --input: 231 48% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 231 48% 66%;
    --chart-3: 231 48% 30%;
    --chart-4: 231 48% 78%;
    --chart-5: 231 48% 58%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 20% 12%;
    --foreground: 231 60% 94%;
    --card: 231 20% 16%;
    --card-foreground: 231 60% 94%;
    --popover: 231 20% 16%;
    --popover-foreground: 231 60% 94%;
    --primary: 231 60% 94%;
    --primary-foreground: 231 48% 48%;
    --secondary: 231 20% 24%;
    --secondary-foreground: 231 60% 94%;
    --muted: 231 20% 24%;
    --muted-foreground: 231 60% 70%;
    --accent: 231 20% 28%;
    --accent-foreground: 231 60% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 28%;
    --input: 231 20% 28%;
    --ring: 231 48% 66%;
    --chart-1: 231 48% 66%;
    --chart-2: 231 60% 94%;
    --chart-3: 231 48% 80%;
    --chart-4: 231 48% 40%;
    --chart-5: 231 48% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
